#overlay {
  margin: auto;
  display: block;
  position: relative;
  z-index: 1;
  background-color: #000;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#prog-bar {
  width: 1%;
}

#loading {
  position: absolute;
  top: 35%;
  width: 100%;
}

#gameover {
  position: absolute;
  padding-top: 15%;
  width: 100%;
  background-color: green;
  z-index: 10;
  height: 100%;
  text-align: center;
  color: #eaeaea;
}

.progress {
  width: 95%;
  margin: 0 auto;
}

#loading h1 {
  color: #fafafa;
  text-align: center;
}

.control-button {
  margin: 1% auto;
}

.guide {
  text-align: center;
}

.center {
  margin: 0 auto;
  width: 80%;
}

.hide {
  display: none !important;
}

/* breaks accessibility but these look ugly */
* {
  outline: none !important;
}

#mainMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin: 0;
  /* background-color: rgba(0, 0, 0, 0.25); */
}

#mainMenu div {
  width: 60%;
  margin: 15% 20% 0;
  text-align: center;
}

#mainMenu h1 {
  color: #fafafa;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
   margin-bottom: 20px;
}

.player {
  border-radius: 3px;
  border: 1px solid #000;
  display: block;
  position: absolute;
  width: 30rem;
  top: 1rem;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.75);
  border-color: rgb(128, 128, 128);
}

.player ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.player ul li.pocketed {
  background-color: #3d3d3d;
}

.player1 {
  left: 1rem;
}

.player.active {
  background-color: rgba(152, 251, 152, 0.75);
  border-color: rgb(152, 251, 152);
}

.player2 {
  right: 1rem;
}

.player h5 {
  margin: 0;
  padding: 0;
  margin: 0.5rem;
  color: #eaeaea;
  text-shadow: -1px -1px 0 #3d3d3d,
                1px -1px 0 #3d3d3d,
               -1px  1px 0 #3d3d3d,
                1px  1px 0 #3d3d3d;
}

.player.solid span:before {
  content: 'Solid';
}

.player.striped span:before {
  content: 'Striped';
}
.player.unknown span:before {
  content: '?';
}


.player ul li {
  float: left;
  padding: 0;
  margin: 0 0.5rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: block;
  border-radius: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.player ul li::before {
  display: block;
  border: 1px solid #000;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  content: '';
  margin-bottom: -3rem;
}

.player.striped ul li::before {
  background-image: linear-gradient(#fff 13%, transparent 13%, transparent 87%, #fff 13%);
}

.player.solid ul li::before {
  background-image: none;
}

.player ul li::after {
  display: block;
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  margin-top: -2.5rem;
  margin-left: 0.5rem;
  content: '';
  z-index: 10;
}

.player ul li:nth-child(1) {
  background-color: #f5c61f;
}

.player ul li:nth-child(2) {
  background-color: #123ecd;
}

.player ul li:nth-child(3) {
  background-color: #cd1b12;
}

.player ul li:nth-child(4) {
  background-color: #8412cd;
}

.player ul li:nth-child(5) {
  background-color: #ff7f00;
}

.player ul li:nth-child(6) {
  background-color: #269c0f;
}

.player ul li:nth-child(7) {
  background-color: #a20000;
}

.player ul li.pocketed {
  opacity: 0.5;
}

.player.unknown ul li {
  background-color: #3d3d3d;
}

#controlsHud {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.clickable {
  z-index: 2;
  pointer-events: initial;
}

.shootControls {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  border: 1px solid #000;
  display: block;
  position: absolute;
  width: 20rem;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.5rem;
}

.power {
  width: 95%;
  margin: 0 auto;
}

.power form, .power input {
  padding: 0;
  margin: 0;
}

#hitBtn {
  width: 95%;
  margin: 0.5rem;
}

#focusBtn {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}

.gamelog {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 1px solid #000;
  display: block;
  position: absolute;
  width: 30rem;
  bottom: 1rem;
  left: 1rem;
  height: 3rem;
  padding: 0.5rem;
  text-align: left;
  color: #dadada;
  overflow: hidden;
}

.gamelog:hover {
  height: 20rem;
  overflow: scroll;
}

.gamelog li:nth-last-child(-n+1) {
  display: block;
}

.gamelog:hover li:nth-last-child(-n+6) {
  display: block;
}

.gamelog li {
  margin: 0;
  padding: 0;
  margin-top: 0px;
}

.timer {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  border: 1px solid #000;
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 1rem;
  bottom: 1rem;
  text-align: center;
  font-size: 4rem;
  line-height: 4.5rem;
}

#stats {
    position: absolute;
    top: 420px;
    left: 810px;
    z-index: 1;
}


